<section class="mt-24 max-w-3xl mx-auto text-center">
  <h3 class="text-3xl font-bold text-indigo-400 mb-6">Sobre mí</h3>
  <p class="text-gray-300 leading-relaxed">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio alias quidem aliquid harum eum ratione. Aliquam, magni at. Temporibus minima laudantium aliquid deleniti laboriosam quo fuga repellendus asperiores maxime omnis?
    Temporibus vero eveniet quos numquam, repellendus quo aliquid autem atque porro ipsa ut distinctio maxime, pariatur velit vel repudiandae aspernatur ab animi error blanditiis corporis maiores placeat! Pariatur, quas quaerat?
    Aspernatur ratione qui fuga deleniti totam aperiam omnis blanditiis tempore ex. Ducimus sapiente reiciendis commodi eligendi, quia ullam expedita aut qui ipsa, ex labore consequuntur, rerum ipsam libero asperiores iusto.
    Hic et fugit placeat, sequi illum ratione aliquam. Odit temporibus asperiores doloremque quos, tenetur necessitatibus, et alias quas ex nulla voluptatibus quibusdam nesciunt. Maxime dolores ullam beatae. Reiciendis, animi dicta?
    Facere numquam commodi recusandae optio quasi quo enim quam. Atque dolorem praesentium provident! Rem saepe culpa, maxime nobis ea sapiente sed voluptates cupiditate magni temporibus voluptate commodi explicabo rerum id!
  </p>
</section>
