
---
import SkillCard from "../atoms/SkillCard.astro";

const cskills = [
  {
    name: "Guitarra y M煤sica",
    description:
      "Composici贸n musical y pr谩ctica instrumental.",
    icon: "",
  },
  {
    name: "Edici贸n de Video",
    description:
      "Edici贸n din谩mica para redes sociales y YouTube.",
    icon: "锔",
  },
  {
    name: "Grabaci贸n de contenido",
    description:
      "Captura de videos e im谩genes.",
    icon: "",
  },
];

---

<section class="text-center py-16">
    <div class="mb-20">
        <h3 class="text-2xl font-semibold text-indigo-300 mb-8"> Habilidades Creativas </h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 max-w-5xl mx-auto">
            {cskills.map((skill) => <SkillCard {...skill} />)}
        </div>
    </div>
</section>
