<section class="py-20 text-center flex flex-col items-center">
  <img 
    src="src/assets/images/perfil.webp" 
    alt="Foto de Daniel" 
    class="w-40 h-40 rounded-full object-cover shadow-xl border-2 border-indigo-500"
  />

  <h2 class="text-5xl font-extrabold text-indigo-400 mt-6">
    ¡Hola, soy Daniel Benitez!
  </h2>

  <p class="text-lg text-gray-300 max-w-xl mt-4">
    Estudiante de Ingeniería en Sistemas Computacionales. 
    Con gusto al desarrollo web, desarrollo de aplicaciones e inteligencia artificial. 
  </p>

  <div class="mt-8 flex gap-4">
    <a href="/proyectos"
      class="px-6 py-3 bg-indigo-600 hover:bg-indigo-500 rounded-xl text-white font-medium">
      Ver mis proyectos
    </a>

    <a href="/contact"
      class="px-6 py-3 border border-indigo-500 text-indigo-400 rounded-xl hover:bg-indigo-600/10 transition-all">
      Contáctame
    </a>
  </div>
</section>
