<section class="text-center py-20">
  <h2 class="text-5xl font-extrabold text-indigo-400 mb-4">
    ¡Hola, soy Daniel Benitez!
  </h2>
  <p class="text-lg text-gray-300 max-w-2xl mx-auto">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere eum error
    rerum deleniti modi minima exercitationem labore perferendis aliquid ad!
    Quis molestiae odio pariatur aspernatur nostrum non officiis amet quam.
    Similique, esse. Laudantium nostrum ipsa nulla tenetur quaerat suscipit
    molestias optio exercitationem, vero dolores, totam libero praesentium
    facere similique nisi nam fugiat! Exercitationem ex voluptas excepturi ea?
    Optio, vel tempora. Cum tempora sed praesentium! Exercitationem molestiae ad
    dolores nesciunt inventore iure iste suscipit quasi. Itaque saepe in
    consequuntur deserunt. Voluptate voluptatem tempore dolor, est placeat
    aspernatur asperiores cumque enim neque!
  </p>
  <div class="mt-8">
    <a
      href="/proyectos"
      class="px-6 py-3 bg-indigo-600 hover:bg-indigo-500 rounded-xl text-white font-medium"
    >
      Ver mis proyectos
    </a>
  </div>
</section>
