---
import ProjectCard from "../atoms/ProjectCard.astro";
const projects = [
  {
    title: "microPay",
    description: "Aplicaci贸n web que automatiza y centraliza la distribuci贸n de pagos",
    github: "https://github.com/d3ny25/microPay",
    tech: [
      { name: "Node.js", icon: "/assets/icons/nodejs.png" },
      { name: "API Open Payments", icon: "/assets/icons/openpay.svg" },
      { name: "MySQL", icon: "/assets/icons/base-de-datos.png" },
    ],
    image: "/assets/projects/micropay.png",
  },
  {
    title: "Angry Birds",
    description: "Recreaci贸n del videojuego Angry Birds en Godot Engine",
    github: "https://github.com/d3ny25/angry_birds",
    tech: [
      { name: "Godot Engine", icon: "/assets/icons/godot.png" },
    ],
    image: "/assets/projects/angrybirds.jpg",
  },
  {
    title: "Este Blog Personal",
    description: "Un blog moderno usando componentes at贸micos, Tailwind y Astro.",
    github: "https://github.com/d3ny25/d3ny25.github.io",
    tech: [
      { name: "Astro", icon: "/assets/icons/astrojs.svg" },
      { name: "Tailwind", icon: "/assets/icons/tailwind.png" },
      { name: "TypeScript", icon: "/assets/icons/typescript.webp" },
    ],
    image: "/assets/projects/blogpersonal.jpg",
  },
];
---

<section class="max-w-6xl mx-auto px-6 py-16">
  <h2 class="text-4xl font-bold mb-10 text-center  text-indigo-300">Proyectos</h2>

  <div class="grid md:grid-cols-3 gap-8">
    {projects.map((project) => (
      <ProjectCard {...project} />
    ))}
  </div>
</section>
