---
import ContactForm from "../components/molecules/ContactForm.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout>
<main class="min-h-screen bg-gray-50 py-20 px-6 flex flex-col items-center justify-center">
  <section class="w-full max-w-3xl">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-10">
      Contáctame
    </h1>

    <p class="text-gray-600 text-center mb-10">
      Si deseas ponerte en contacto conmigo, llena el siguiente formulario.  
      Estoy abierto a colaborar en proyectos, resolver dudas o simplemente charlar.
    </p>

    <ContactForm />
  </section>
</main>
</Layout>
