---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Daniel ! Portafolio</title>
	</head>

	<body class="bg-gray-950 text-gray-100 font-sans">
		<header
			class="p-6 flex justify-between items-center border-b border-gray-800">
			<h1 class="text-xl font-bold text-indigo-400">Daniel Benitez</h1>
			<nav class="space-x-6">
				<a href="/" class="hover:text-indigo-400">Inicio</a>
    			<a href="/habilidades" class="hover:text-indigo-400">Habilidades</a>
				<a href="/proyectos" class="hover:text-indigo-400">Proyectos</a>
				<a href="/contacto" class="hover:text-indigo-400">Contacto</a>
			</nav>
		</header>

		<main class="max-w-5xl mx-auto px-4 py-12">
			<slot />
		</main>

		<footer
			class="text-center text-gray-500 py-8 border-t border-gray-800 text-sm"
		>
			© {new Date().getFullYear()} Daniel Benitez — Todos los derechos reservados.
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
